<p>favoritos works!</p>
<div class="retangulos">
    <div class="retangulo" *ngFor="let produto of listaNova;let i = index">
        <div *ngIf="adminRota"><strong>#ID:</strong> {{ produto.id }}</div>
        <img  class="imagemProd" src={{produto.imagem}}>
        <div class="nomeProd"> {{ produto.nome }}</div>
        <div class="precoProd"><strong>Preço: R$</strong> {{ produto.preco }}</div>
        <div class="divAtos">
            <button type="button" class="btn btn-primary"  id="detalhesButton" (click)="detalhar(produto.id)">Detalhes</button>
            <img (click)="favoritar(produto)" *ngIf="!produto.ativo" src="assets/contorno-em-forma-de-coracao.png" alt="" class="coracaoImg">
            <img (click)="desfavoritar(produto)" *ngIf="produto.ativo" src="assets/silhueta-em-forma-de-coracao.png" alt="" class="coracaoImg">
        </div>
    </div>
</div>

