<div class="cadLoginDiv">
    <form action="">
        <h1>Crie sua Conta !!</h1>
        <p>Digite seu nome de Usuário:</p>
        <input type="text" name="Usuario" placeholder="Usuario" class="inputMod">
        <br>
        <p id="senhaInput">Digite sua senha:</p>
        <input type="text" name="Senha" placeholder="Senha" class="inputMod">
        <br>
        <p id="telefoneInput">Digite seu telefone:</p>
        <input type="number" name="Telefone" placeholder="Telefone" class="inputMod">
        <br>
        <p id="emailInput">Digite seu e-mail:</p>
        <input type="text" name="Email" placeholder="Email" class="inputMod">
        <br>
        <p id="cpfInput">Digite seu CPF:</p>
        <input type="number" name="CPF" placeholder="CPF" class="inputMod">
        <br>
        <br>
        <input routerLink="/admin/sabores" type="button" value="Cadastrar" class="btn btn-primary" id="botao">
    </form>
</div>