.container{

    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    }
    .login-form {
      margin-top: 230px;
      background-color: #FFA500; /* laranja claro */
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .login-form label {
      color: #ffffff; /* branco */
    }
    
    .login-form input[type="text"],
    .login-form input[type="password"] {
      background-color: #ffffff; /* branco */
      color: #333333; /* cor de texto padrão */
      border: 1px solid #FFA500; /* laranja claro */
    }
    
    .login-form input[type="text"]:focus,
    .login-form input[type="password"]:focus {
      border: 1px solid #FF6347; /* laranja mais escuro quando em foco */
    }
    
    .btn-primary {
      background-color: #FF6347; /* laranja mais escuro */
      border-color: #FF6347; /* laranja mais escuro */
    }
    
    .btn-primary:hover,
    .btn-primary:focus {
      background-color: #FF4500; /* tom mais intenso de laranja ao passar o mouse ou focar */
      border-color: #FF4500; /* tom mais intenso de laranja ao passar o mouse ou focar */
    }
    