<div class="cadLoginDiv">
    <form action="">
        <h1>Crie sua Conta !!</h1>
        <p>Digite seu nome de Usuário:</p>
        <input type="text" name="Usuario" placeholder="Usuario" class="inputMod" [(ngModel)]="usuario.username">
        <br>
        <p id="senhaInput">Digite sua senha:</p>
        <input type="text" name="Senha" placeholder="Senha" class="inputMod" [(ngModel)]="usuario.password">
        <br>
        <p id="senhaInput">Digite sua role:</p>
        <input type="text" name="Senha" placeholder="Senha" class="inputMod" [(ngModel)]="usuario.role">
        <br>
        <input routerLink="/login" type="button" value="Cadastrar" class="btn btn-primary" id="botao" (click)="salvar()">
    </form>
</div>