<div class="contact-container">
    <h1>Entre em Contato</h1>
    <p>Se você se interessou pelo produto, entre em contato conosco através das redes sociais ou WhatsApp.</p>
    <ul class="contact-list">
        <li>
            <a href="https://www.instagram.com/sm.monzon" target="_blank">
                <img src="../../assets/instagram.png" alt="Instagram">
                Instagram
            </a>
        </li>
        <li>
            <a href="https://wa.me/554599568491" target="_blank">
                <img src="../../assets/whatsapp.png" alt="WhatsApp">
                WhatsApp
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sublimonzon" target="_blank">
                <img src="../../assets/facebook (1).png" alt="Facebook">
                Facebook
            </a>
        </li>
    </ul>
</div>