<div class="divHeader">
    <nav>
        <img src="https://pbs.twimg.com/media/GAe2mdCXIAAQeo4?format=png&name=360x360" alt="Sublimoon" class="imgLogo" (click)="abrirhome()">

        <p class="categ" (click)= "categorias('CANECA')">Canecas</p>
        <p class="categ" (click)= "categorias('CAMISETA')">Camisetas</p>
        <p class="categ" (click)= "categorias('GARRAFINHA')">Garrafinhas</p>
        <p class="categ" (click)= "categorias('COPOTERMICO')">Copos-Térmicos</p>

        <p  id="iconP" (click)="abrircarrinho()">🛒</p>
       <!-- <select name="" id="selectOpc">
            <option value="" class="dropdown-item">Opções</option>
            <option [routerLink]="'/login'" value="" class="dropdown-item">Sair</option>
        </select>
        -->
    </nav>
    <div class="barra"></div>
</div>