<div class="divHeader">
    <nav>
        <img src="assets/iconeSublimoon.png" alt="Sublimoon" class="imgLogo" routerLink="/cliente/produto">

        <p class="categ" (click)= "categorias('CANECA')">Canecas</p>
        <p class="categ" (click)= "categorias('CAMISETA')">Camisetas</p>
        <p class="categ" (click)= "categorias('GARRAFINHA')">Garrafinhas</p>
        <p class="categ" (click)= "categorias('COPOTERMICO')">Copos-Térmicos</p>
        <p class="icons">🛒</p>
        <p class="icons">💙</p>
        <p  id="iconP" routerLink="/cliente/dadosCliente">👤</p>
        <select name="" id="selectOpc">
            <option value="" class="dropdown-item">Opções</option>
            <option routerLink="/login" value="" class="dropdown-item" >Sair</option>
        </select>
    </nav>
    <div class="barra"></div>
</div>