<div class="row d-flex justify-content-center  ">
    <div d-flex flex-column mb-3>
      <div class="p-2  ">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" [(ngModel)]="produto.nome" class="form-control"  name="name" placeholder="Nome do Produto">
      </div>
      <br>
      <div class="d-flex">
        <div class="p-2 col">
          <p>Categorias</p>
          <select id="categoria" [(ngModel)]="produto.categoria" class="form-select">
            <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
          </select>
        </div>
        <div class="p-2 col">
          <p>Cor</p>
          <select id="cor" [(ngModel)]="produto.cor" class="form-select">
            <option *ngFor="let cor of cores" [value]="cor">{{ cor }}</option>
          </select>
        </div>
      </div>
        
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Descrição</label>
        <input type="text" [(ngModel)]="produto.descricao" class="form-control" name="descricao" placeholder="Descrição do Produto">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Preço</label>
        <input type="number" [(ngModel)]="produto.preco" class="form-control" name="preco" placeholder="9.99">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Quantidade</label>
        <input type="number" [(ngModel)]="produto.quantidade" class="form-control" name="quantidade" placeholder="Quantidade">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Avaliação</label>
        <input type="number" [(ngModel)]="produto.mediaAvaliacao" class="form-control" name="avaliacao" placeholder="1-5">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Tamanho</label>
        <input type="text" [(ngModel)]="produto.tamanho" class="form-control" name="tamanho" placeholder="P,M,G,500ml,1L...">
      </div>
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Imagem</label>
        <input type="text" [(ngModel)]="produto.imagem" class="form-control" name="img" placeholder="Link do Endereço da Imagem">
      </div>
     

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" *ngIf="modoEdit == false"(click)="salvar()">CADASTRAR</button>
        <button type="submit" class="btn btn-primary" *ngIf="modoEdit == true" (click)="editar()">EDITAR</button>
      </div>
    </div>

  </div>