<p>produto-details works!</p>
<div class="row d-flex justify-content-center  ">
    <div d-flex flex-column mb-3>
      <div class="p-2  ">
        <label for="formGroupExampleInput" class="form-label">nome</label>
        <input type="text" [(ngModel)]="produto.nome" class="form-control"  name="name" placeholder="Coca-cola">
      </div>
      <br>
     <p> categorias</p>
      <select id="categoria" [(ngModel)]="produto.categoria">
        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
      </select>
      <p> cor</p>
      <select id="cor" [(ngModel)]="produto.cor">
        <option *ngFor="let cor of cores" [value]="cor">{{ cor }}</option>
      </select>
        
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">descrição</label>
        <input type="text" [(ngModel)]="produto.descricao" class="form-control" name="descricao" placeholder="12...">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Preço</label>
        <input type="number" [(ngModel)]="produto.preco" class="form-control" name="preco" placeholder="12...">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">quantidade</label>
        <input type="number" [(ngModel)]="produto.quantidade" class="form-control" name="quantidade" placeholder="12...">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">Avaliação</label>
        <input type="number" [(ngModel)]="produto.mediaAvaliacao" class="form-control" name="avaliacao" placeholder="12...">
      </div>  
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">tamanho</label>
        <input type="text" [(ngModel)]="produto.tamanho" class="form-control" name="tamanho" placeholder="12...">
      </div>
      <div class="p-2">
        <label for="formGroupExampleInput2" class="form-label">img</label>
        <input type="text" [(ngModel)]="produto.imagem" class="form-control" name="img" placeholder="12...">
      </div>
     

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" *ngIf="modoEdit == false"(click)="salvar()">cadastrar</button>
        <button type="submit" class="btn btn-primary" *ngIf="modoEdit == true" (click)="editar()">editar</button>
      </div>
    </div>

  </div>