<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


  

<div class="borda">
    <ngb-carousel
	#carousel
	[interval]="1000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
        <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div class="carousel-caption">
                <h3>My slide {{i + 1}} title</h3>
            </div>
            <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                <div class="picsum-img-wrapper">
                    <img [src]="img" alt="My image {{i + 1}} description" />
                </div>
            </a>
        </ng-template>
    </ngb-carousel>

    <hr />
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover" />
        <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus" />
        <label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow" />
        <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
    </div>
    <div class="form-check">
       <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator" />
        <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
    </div>
    <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
            {{paused ? 'Cycle' : 'Pause' }}
    
    </button>
    

    <div class="form-group search-bar">
        <input type="text" [(ngModel)]="termoPesquisa" (input)="filtrarProdutos()" class="form-control" placeholder="Pesquisar por nome do produto">
    </div>
    <button class="btn btn-primary" (click)="limparFiltro()">Limpar Filtro</button>
    

    <div class="linha">
        <h1 id="h1dest">Nossos destaques:</h1>
        <button id="btn" *ngIf="adminRota" type="button"class="btn btn-info" (click)="adicionar(modal1)" >ADICIONAR PRODUTO</button>
    </div>

    <div class="retangulos">
        <div class="retangulo" *ngFor="let produto of lista;let i = index">
            <div *ngIf="adminRota"><strong>#ID:</strong> {{ produto.id }}</div>
            <img  class="imagemProd" src={{produto.imagem}}>
            <div class="nomeProd"> {{ produto.nome }}</div>
            <div class="precoProd"><strong>Preço: R$</strong> {{ produto.preco }}</div>
            <div *ngIf="adminRota && !modoLancamento" class="divADM">
                <button class="btn btn-outline-warning" id="editarButton" (click)="editar(modal2, produto, i)">Editar</button>
                <button class="btn btn-outline-danger" (click)="deletar(produto.id)">Excluir</button>
            </div>
            <div class="divAtos">
                <button type="button" class="btn btn-primary"  id="detalhesButton" (click)="detalhar(produto.id)">Detalhes</button>

            <!-- <img src="assets/contorno-em-forma-de-coracao.png" alt="" class="coracaoImg">

                <img (click)="favoritar(produto)" *ngIf="!produto.ativo" src="assets/contorno-em-forma-de-coracao.png" alt="" class="coracaoImg">
                <img (click)="desfavoritar(produto)" *ngIf="produto.ativo" src="assets/silhueta-em-forma-de-coracao.png" alt="" class="coracaoImg"> -->
            </div>
        </div>
    </div>
    
</div>    
<ng-template #modal1 let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de Produto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <app-produto-details [produto]="produtoEdicao"  [modoEdit]="false"  (retorno)="addList($event)"></app-produto-details>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>
<ng-template #modal2 let-modal>
	<div class="modal-header" data-backdrop="false">
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <app-produto-details [produto]="produtoEdicao"  [modoEdit]="true"  (retorno)="addList($event)"></app-produto-details>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>






