<footer>
    <div class="divFooter">
        <div class="redesDiv">
            <a href="https://www.instagram.com/sm.monzon/" target="_blank">
            <img src="assets/InstaBrancoSemFundo.png" alt="instagramIcon" id="imgInsta">
            </a>
            <a href="https://www.facebook.com/sublimonzon" target="_blank">
                <img src="assets/facebook.png" alt="facebookIcon" id="imgFacebook">
            </a>
        </div>
        <div class="contatoDiv">
            <ul>
                <li><strong>Entre em Contato!</strong></li>
                <li>(45) 99956-8491</li>
                <li>vendas.sublimoon@gmail.com</li>
                <li>Av. General Meira, 3120</li>
            </ul>
        </div>
    </div>
</footer>