<div class="divLogin">
    <form action="">
        <h1>Login 🌙</h1>
        <p>Nome de Usuário:</p>
        <input type="text" name="nome" placeholder="Usuario" class="inputMod" [(ngModel)]="nome">
        <br>
        <p id="senhaInput">Senha:</p>
        <input type="password" name="senha" placeholder="Senha" class="inputMod" [(ngModel)]="senha">
        <br>
        <br>
        <input type="button" value="Logar" class="btn btn-primary" id="botao" (click)="logar()">
        <br>
        <br>
        <p class="cadastrar" routerLink="/cadLogin">Não tem uma conta? Cadastre-se!!</p>
    </form>
</div>