.container {
    background-color: #ffffff;
    padding-top: 50px;
}

.login-form {
    background-color: #1e2a3a;
    padding: 20px;
    border-radius: 8px;
    
}

.mb-3 input{


    color:black;
}

.form-label,
.form-control {
    color: #ffffff;
}

.btn-primary {
    background-color: #1e2a3a;
    border-color: #1e2a3a;
}

.btn-primary:hover {
    background-color: #132032;
    border-color: #132032;
}

.login-logo {
    text-align: center; /* Centralizar conteúdo */
    margin-bottom: 20px; /* Espaço entre a logo e o formulário */
}

.login-logo img {
    max-width: 100%; /* Ajustar a largura máxima da imagem */
    height: auto; /* Altura automática proporcional à largura */
}

.col-lg-4 {
    text-align: center; /* Centralizar conteúdo */
}
