body {
    background-color: #f0f0f0; /* Cor de fundo para a página */
    font-family: Arial, sans-serif; /* Fonte */
}

.container {
    margin-top: 50px; /* Espaçamento superior */
}

.login-logo img {
    max-width: 100px; /* Tamanho máximo do logo */
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-logo{

 display: flex;
    align-items: center;
    justify-content: center;

}
.botaocad{

    display: flex;
    align-items: center;
    justify-content: center;


}

.login-form {
    background-color: #fff; /* Fundo do formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra */
}

.form-label {
    color: #333; /* Cor do rótulo */
}

.form-control {
    border: 1px solid #ccc; /* Borda do campo de entrada */
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #1a237e; /* Cor do botão */
    color: #fff; /* Cor do texto no botão */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#botao {
    margin-top: 10px; /* Espaçamento superior para o botão */
}

/* Estilos para o link */
#botao {
    text-decoration: none;
    color: #fff;
}