<h1>Seu carrinho:</h1>
<div class="retangulos">
    <div class="retangulo" *ngFor="let item of lista;let i = index">
        <img  class="imagemProd" src={{item.produto.imagem}}>
        <div class="nomeProd"> {{ item.produto.nome }}</div>
        <div class="quantidade"><strong>quantidade:</strong> {{ item.quantidade }}</div>
        <div class="input-group">
            <input type="number" class="form-control" id="numero" value="0" [(ngModel)]="item.quantidade" min="0">
            <div class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="aumentarNumero(item)">+</button>
              <button class="btn btn-secondary" type="button" (click)="diminuirNumero(item)">-</button>
            </div>
          </div>
        <div class="precoTotalProd"><strong>Valor Total: R$</strong> {{ item.valorTotal }}</div>
        <div class="divAtos">
            <button type="button" class="btn btn-primary"  id="detalhesButton" (click)="remover(item)" >REMOVER ITEM</button>
        </div>
    </div>
    <button (click)="enviarPedido()" class="enviarClass">Enviar Pedido via WhatsApp</button>

</div>
