<div class="product-details">

    <div class="product-image">
      <img [src]="produto.imagem" alt="{{ produto.imagem }}" class="product-image">
    </div>

      <div class="product-info">
          <h2 class="product-name" id="nomeProduto">{{ produto.nome }}</h2>
          <p class="product-price">Preço: R$ {{ produto.preco }}</p>
          <p class="product-description">{{ produto.descricao }}</p>
          <p class="product-size">Tamanho:  {{produto.tamanho}}</p>
          <p class="product-color">Cor:  {{produto.cor}}</p>

          <button  (click)="adicionarCarrinho()"  class="add-to-cart-button" >Adicionar ao carrinho</button>
         
            <div class="container mt-5">
            <div class="input-group">
              <input type="number" class="form-control" id="numero" value="0" [(ngModel)]="quantidade" min="0">
              <div class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="aumentarNumero()">+</button>
                <button class="btn btn-secondary" type="button" (click)="diminuirNumero()">-</button>
              </div>
            </div>
          </div>
      </div>
  </div>
  

  
  