<div class="product-details">

<div class="product-image">
    <img [src]="produto.imagem" alt="{{ produto.nome }}" class="product-image">
  </div>
  
  
    <div class="product-info">
      <h2 class="product-name">{{ produto.nome }}</h2>
      <p class="product-description">{{ produto.descricao }}</p>
      <p class="product-price">Preço: R$ {{ produto.preco }}</p>
      <div class="quantity-selector">
        <label for="quantity">Quantidade:</label>
        <select id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
       
        </select>
      </div>
      <button class="add-to-cart-button" >Adicionar ao Carrinho</button>
    </div>
  </div>
  